table {
    /* background-color: black; */
    padding: 5px;
    
}

table, th, td {
    color: white;
    border: 1px solid black;
    text-align: center; 
    vertical-align: middle;    
    background-color: black;
    width: 350px;
}

.scores {
    font-size: 24px;
    font-weight:700;
    
}


h1 {
    text-align: center;
}

.stMarkdown {
    align-items: center !important;
    text-align: -webkit-center;
}